//====================================================================================================
.header-body {
	@include flexbox();
	flex-direction: row wrap;
	padding: 60px 0 60px 0;
}
.img-box {
	@include flexbox();
	align-items: center;
  &__main-logo {
  }
}
.nav-bar {
  @include flexbox();
	align-items: center;
	padding: 0px 0px 0px 120px;
	
  &__nav-item {
    font-size: 1rem;
		padding: 0px 40px 0px 0px;
		background-color: transparent;
    &:last-child {
      padding: 0;
    }
  }
}
.justify-end{
	flex: 5;
	@include flexbox();
	justify-content: flex-end;
}


//====================================================================================================
