//<МИКСИНЫ>==========================================================================================================
@mixin anim($time, $delay) {
  -webkit-transition: all $time ease $delay;
  -moz-transition: all $time ease $delay;
  -ms-transition: all $time ease $delay;
  -o-transition: all $time ease $delay;
  transition: all $time ease $delay;
}
@mixin scale($num) {
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -webkit-transform: scale($num);
  -o-transform: scale($num);
  transform: scale($num);
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
//</МИКСИНЫ>=========================================================================================================

//<ШРИФТЫ>===========================================================================================================

//<Подключаем шрифты>================================================================================================
@font-face {
  font-family: "Avenir-Roman";
  src: url("../fonts/Avenir-Roman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
//</Подключаем шрифты>===============================================================================================

//<Шрифт по умолчанию>================================================================================================
$fontfamily: "Avenir-Roman";
//</Шрифт по умолчанию>===============================================================================================

//</ШРИФТЫ>===========================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=========================================================================================
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: $minwidth;
  position: relative;
  width: 100%;
  color: #000;
}
body {
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  font-family: $fontfamily;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &.lock {
    overflow: hidden;
    @media (max-width: $md3+px) {
      width: 100%;
      position: fixed;
      overflow: hidden;
    }
  }
}
input,
button,
textarea {
  font-family: $fontfamily;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(246, 250, 253, 1) 0%,
    rgba(255, 255, 255, 1) 35%
  );
  &.loaded {
  }
}
//</ОБОЛОЧКА>=========================================================================================================

//<ОСНОВНАЯ СЕТКА>====================================================================================================
.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=====================================================================
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================

//<ОСНОВНОЙ БЛОК>=====================================================================================================
.slider {
  &__item {
    background-size: cover;
    background-position: center;
    height: 560px;
    width: 100%;
    border-radius: 50px;
  }
}

.container {
}
.main-page {
  &__slider {
  }
}

.slider {
  &__item {
  }
}
.center {
  &__heading {
    padding: 0px 0px 2.5rem 0px;
  }
  &__text {
    text-align: center;
    width: 80%;
  }
}
.info {
	padding: 85px 0px 130px 0px;
  &__info-box {
    @include flexbox();
    justify-content: center;
    align-items: center;
		flex-direction: column;
		padding: 0px 0px 70px 0px;
  }
}
.main-heading {
  font-size: 2rem;
}
.main-text {
  font-size: 1rem;
}
.info-cards {
  &__item {
  }
}
.link {
  text-decoration: none;
}
.default-color-t {
  color: #212353;
}
.grey-color-t {
  color: #4b5d68;
}
.request-button {
  &__button {
    @include flexbox();
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    padding: 17px 20px 17px 30px;
    cursor: pointer;
    background-size: 300% 100%;
    transition: all 0.3s ease 0s;
    &:hover {
      color: white;
      background-image: linear-gradient(
        to right,
        #25aae1,
        #4481eb,
        #04befe,
        #3f86ed
      );
      box-shadow: 0px 6px 10px -5px rgba(65, 132, 234, 0.75);
      transform: translateY(-7px);
      background-position: 100% 0;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
  }
}
.arrow-box {
  @include flexbox();
  align-items: center;
  padding: 0px 10px 0px 20px;
}
.arrow {
}
.learn-button {
  padding: 0px 30px 0px 0px;
  &__button {
    font-size: 1.2rem;
    color: white;
    padding: 17px 37px 17px 37px;
    background-color: #9c69e2;
    border-radius: 30px;
    cursor: pointer;
    background-size: 300% 100%;
    transition: all 0.3s ease 0s;
    &:hover {
      color: white;
      background-image: linear-gradient(
        to right,
        #667eea,
        #764ba2,
        #6b8dd6,
        #8e37d7
      );
      box-shadow: 0px 6px 10px -5px rgba(116, 79, 168, 0.75);
      transform: translateY(-7px);
      background-position: 100% 0;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
  }
}

//====================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
